class E2E:

    def __init__(self):

        self.config = {

            "url": {

                "login": "",

                "homepage":"",

                "webdriver": ""

            },

            "username": "",

            "password": ""}

    def __get__(self):

        return self.config
